<app-header />
<div class="country-page">
  <p *ngIf="error" class="error-message" role="alert">
    An error occurred while loading data: {{ error }}
  </p>

  <figure class="chart-container wrapper-container">
    <div class="container">
      <canvas
        id="countryChart"
        aria-label="Line chart showing medals per year"
        role="img"
        >{{ lineChart }}</canvas
      >
      <figcaption class="sr-only">Medals per Olympic Games</figcaption>
    </div>
  </figure>

  <div class="center">
    <a routerLink="">Go back</a>
  </div>
</div>
